bin2fex
fex2bin
sunxi-bootinfo
sunxi-fel
sunxi-fexc
sunxi-nand-part
sunxi-pio
version.h
*.o
*.swp
jtag-loop.bin
jtag-loop.elf
jtag-loop.map
libfdt_obj/
sunxi-bootinfo.exe
sunxi-fel.exe
sunxi-fexc.exe
sunxi-nand-part.exe
sunxi-pio.exe
